<div class="container">
    <%= link_to "子タスク一覧へ", parent_task_child_tasks_path(parent_task_id: @child_task.parent_task_id) %>  
<div class="card text-center">
    <h2 class="card-header">「<%= @child_task.title %>」の詳細ページ</h2>
    <div class="card-body">
        <h4>タスク概要：<%= @child_task.explanation %></h4>
        <p>締め切り:<%= @child_task.child_deadline %></p>
        <% if @child_task.possibility == 0 %>
            <p>達成可能性:自信がある</p>
        <% elsif @child_task.possibility == 1 %>
            <p>達成可能性:まあまあ</p>
        <% else %>
            <p>達成可能性:自信がないです助けて</p>
        <% end %>
    </div>
</div>
</div>