<div class="container">
  <div class="row">
    <div class="col-12 text-center border">
      <h3><%= @user.name %></h3>
      <h3><%= @user.team_id %></h3>
      <h3><%= Team.where(params[id: @user.team_id]).name %></h3>
    </div>
  </div>