
.jumbotron{
    background-color: transparent;
}

.user-login{
    padding-top: 20px;
}

.title{
    padding-top: 60px;
    font-size: 72px;
}

.parent-task-new{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.card{
    margin-left: 10px;
}