<div class="container">
  <div class="row">
    <div class="col-12 text-center border">
      <h3><%= @boss.name %></h3>
      <h3><%= @boss.team_id %></h3>
      <h3><%= Team.where(params[id: @boss.team_id]).name %></h3>
    </div>
  </div>