<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <li class="nav-item"><%= link_to 'User_Signout', destory_user_session_path, class: 'nav-link' %></li>
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item"><%= link_to 'Boss_Signout', destory_boss_session_path, class: 'nav-link' %></li>
      </ul>
    </div>
  </nav>
</header>