
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <!--TOPに戻るボタン-->
  <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">プロフィール編集</a>
              <a class="dropdown-item" href="users/sign_out">ログアウト</a> <!--ユーザーとボスで条件分岐-->
            </div>
          </li>
      </ul>
    </div>
</nav>
